.chat-main
  .main-header
    .main-header__info-box
      %p.main-header__info-box__group-name
        wise
      %p.main-header__info-box__member-list
        Member: wiseman
    =link_to "#", class: "main-header__edit-btn" do
      Edit
  .messages
    .message
      .message__info-box
        %p.message__info-box__user-name
          wiseman
        %p.message__info-box__date-time
          2020/11/2 11:11:11
      %p.message__text
        the appraisal
    .message
      .message__info-box
        %p.message__info-box__user-name
          wiseman
        %p.message__info-box__date-time
          2020/11/2 11:11:11
      %p.message__text
        the appraisal
    .message
      .message__info-box
        %p.message__info-box__user-name
          wiseman
        %p.message__info-box__date-time
          2020/11/2 11:11:11
      %p.message__text
        the appraisal
  .form
    %form.new-message
      .input-box
        %input.input-box__text{type:"text_field", placeholder: "type a message"}
        %label.input-box__image  
          = icon("fas", "image")                
          %input{type: "file"}
      %input.submit-btn{type: "submit"}
