.chat-side
  .side-header
    .side-header__items
      %p.side-header__items__user-name
        hello
      %ul.side-header__items__icons
        %li
          = link_to "#", class: "side-header__items__icons--btn" do
            %i.far.fa-edit
        %li
          = link_to "#", class: "side-header__items__icons--btn" do
            %i.fa.fa-cog
  .groups
    .group
      %p.group__name
        wiseman
      %p.group__last-message 
        wi..wii..
    .group
      %p.group__name
        wiseman
      %p.group__last-message 
        wi..wii..
    .group
      %p.group__name
        wiseman
      %p.group__last-message 
        wi..wii..

